<ion-header [translucent]="true">
  <ion-toolbar background color="dark">
    <center><ion-title size="small">
      Homestay Acivity 2021 &nbsp; <ion-icon name="pencil-outline"></ion-icon>
    </ion-title></center>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" background color="warning">


<ion-list background color="warning">
    <ion-list-header background color="dark" text align="center"> Cut Grass &nbsp; <ion-icon name="leaf-outline"></ion-icon></ion-list-header>


    <ion-item background color="warning">
      <ion-checkbox color ="danger" checked >
      </ion-checkbox>
            <ion-label> &nbsp;&nbsp;&nbsp;January </ion-label>
        </ion-item>

     <ion-item background color="warning" >
      <ion-checkbox color ="danger" checked>
</ion-checkbox>
      <ion-label> &nbsp;&nbsp;&nbsp;February </ion-label>
    </ion-item>


  <ion-item background color="warning" >
      <ion-checkbox color ="danger" checked>
</ion-checkbox>
      <ion-label>&nbsp;&nbsp;&nbsp; March </ion-label>
    </ion-item>


  <ion-item background color="warning">
      <ion-checkbox color ="danger" >
</ion-checkbox>
      <ion-label>&nbsp;&nbsp;&nbsp; April </ion-label>
    </ion-item>
  

  <ion-item background color="warning">
      <ion-checkbox color ="danger" >
</ion-checkbox>
      <ion-label>&nbsp;&nbsp;&nbsp; May </ion-label>
    </ion-item>
  
  <ion-item background color="warning">
      <ion-checkbox color ="danger" >
</ion-checkbox>
      <ion-label> &nbsp;&nbsp;&nbsp;June </ion-label>
    </ion-item>

  <ion-item background color="warning">
      <ion-checkbox color ="danger" >
</ion-checkbox>
      <ion-label> &nbsp;&nbsp;&nbsp;July </ion-label>
    </ion-item>


  <ion-item background color="warning">
      <ion-checkbox color ="danger" >
</ion-checkbox>
      <ion-label> &nbsp;&nbsp;&nbsp;August </ion-label>
    </ion-item>

  <ion-item background color="warning">
      <ion-checkbox color ="danger" >
</ion-checkbox>
      <ion-label> &nbsp;&nbsp;&nbsp;September </ion-label>
    </ion-item>


  <ion-item background color="warning">
      <ion-checkbox color ="danger">
</ion-checkbox>
      <ion-label> &nbsp;&nbsp;&nbsp;November </ion-label>
    </ion-item>

  <ion-item background color="warning">
      <ion-checkbox color ="danger" >
</ion-checkbox>
      <ion-label> &nbsp;&nbsp;&nbsp;December </ion-label>
    </ion-item>

</ion-list>
<ion-button size="full" color ="dark" routerLink="/homeadmin"> Back</ion-button>
 
</ion-content>
