<ion-header [translucent]="true">
  <ion-toolbar background color="dark">
    <center><ion-title size="small">
      List Of Assets &nbsp; <ion-icon name="bed-outline"></ion-icon>
    </ion-title></center>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" background color="warning">
  
<br>
<style>table {
  border-collapse: collapse;
  width: 20%;
}

th, td {
  text-align: left;
  padding: 5px;
}

tr:nth-child(even){background-color: #EEE8AA}

th {
  background-color: #556B2F;
  color: white;
</style>
<center>
<font size="2">
  <table border="4">

    <tr>
      <td><b>No.</b></td>
      <td><b>Assets</b></td>
      <td><b>Price Per Item</b></td>
      <td><b>Quantity</b></td>
      <td><b>Total Price</b></td>
    </tr>
    <tr>
       <td>1</td>
      <td>Televisyen</td>
      <td>RM 1200</td>
      <td>1</td>
      <td>RM 1200</td>
    </tr>
    <tr>
       <td>2</td>
      <td>Bed</td>
      <td>RM 700</td>
      <td>3</td>
      <td>RM 2100</td>
    </tr>
    <tr>
       <td>3</td>
      <td>Water Heater</td>
      <td>RM 500</td>
      <td>2</td>
      <td>RM 500</td>
    </tr>
     <tr>
       <td>4</td>
      <td>Air Conditioner</td>
      <td>RM 1000</td>
      <td>3</td>
      <td>RM 3000</td>
    </tr>
     <tr>
       <td>5</td>
      <td>Ceiling Fan</td>
      <td>RM 200</td>
      <td>5</td>
      <td>RM 1000</td>
    </tr>
     <tr>
       <td>6</td>
      <td>Washing Machine</td>
      <td>RM 1000</td>
      <td>1</td>
      <td>RM 1000</td>
    </tr>
     <tr>
       <td>7</td>
      <td>Dining Table Set</td>
      <td>RM 2500</td>
      <td>1</td>
      <td>RM 2500</td>
    </tr>
     <tr>
       <td>8</td>
      <td>Sofa 1 Set</td>
      <td>RM 2000</td>
      <td>1</td>
      <td>RM 2000</td>
    </tr>
     <tr>
       <td>9</td>
      <td>Refrigerator</td>
      <td>RM 1400</td>
      <td>1</td>
      <td>RM 1400</td>
    </tr>
  </table>
</font>
<br>
<ion-button size="small" color ="dark" routerLink="/homeadmin"> Back</ion-button>
</center>
</ion-content>