<ion-header [translucent]="true">
  <ion-toolbar background color="dark">
    <center><ion-title size="small">
    <ion-icon name="home-outline"></ion-icon> &nbsp; SIBUYONG HOMESTAY &nbsp; <ion-icon name="home-outline"></ion-icon>
    </ion-title></center>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" background color="warning">

 <center><img src="./assets/uiui.png" width="280" height="350" ></center>
<br>
<ion-button expand="block" color ="dark" routerLink="/contact"> Contact Us &nbsp; <ion-icon name="call-outline"></ion-icon></ion-button>
 

  
  <ion-button expand="block" color ="danger" routerLink="/login"> Admin &nbsp;<ion-icon name="lock-closed-outline"></ion-icon></ion-button>
  
</ion-content>
